*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}
.contanier{
    width: 100%;
    height: 100vh;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}


.contanier::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /* background-color: #3f3d3e;*/
    background-image: url(gta6.jpg);
    background-size: cover;
    background-position: absolute;

}


.contanier .hero{
    position: relative;
    z-index: 10;
    height: 85vh;
    width: 75%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    border: 3px solid #3f3d3e;
    border-radius: 20px;
    box-shadow: -15px 17px 17px rgba(10, 10, 10, 0.15);
    padding: 0 40px 0 80px;
}

.hero nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 100%;
}
.logo{
    margin-top: 430px;
    height: 95px;
    width: 60px;
}

.logo img{
    background-color: (255, 255, 255, 0.7);
}
.hero nav .logo{
    color: #ffff;
    font-size: 45px;
    font-weight: bold;
}
.hero nav .nav-links a {
    color: #242424;
    margin-left: 40px;
    text-transform: capitalize;
    transition: 0.3s;
}
.hero nav .nav-links a:hover,
.hero nav .nav-links a.active{
    color: #5f3838;
}
.hero .content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-right: 40px;
    padding-top:200px;
}

.hero .content .div-text{
    width: 60%;
}


.specialized {
    width: 100;
    text-align: center;
    margin-top: -80px;
    opacity: 0;
    animation: fade-specialized 0.5 linear fowards;
    animation-delay: 2.1s;
    transition: 0.4s;
}

.specialized img{
    width: 100%;
    display: block;
    margin: 0 auto;
}

@keyframes fade-specialized {
    0% {
        opacity; 0;
    }

    100% {
        opacity: 1;
    }
}

.specialized:hover{
    transform: scale(1.1);
}

.specialized {
    animation: fade-specialized 0.5s linear forwards;
    animation-delay: 1.7s;
}



.hero .content .div-text h1{
    margin-bottom: 0px;
    font-size: 80px;
    color: #fff;
}


.hero .content .div-text h4{
    color: #1d1c1c;
    font-size: 24px;
    margin-bottom: 10px;
}
.hero .content .div-text p{
    color: #ffff;
    margin-bottom: 50px;
    font-size: 18px;
}
.hero .content .div-text .btn{
    padding: 15px 20px;
    background-color: #242424;
    border: 2px solid #242424;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}
.hero .content .div-text .btn:hover{
    color: #242424;
    transition: 0.3s;
    background-color: transparent;
}

.soc-link{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}
.soc-link a i{
    font-size: 25px;
    cursor: pointer;
    color: #242424;
    margin-bottom: 20px;
    transition: 0.4s;
}
.soc-link a i:hover{
    transform: scale(1.3);
}


.hero .content  .div-img{
    width: 40%;
}
.hero .content .div-img img{
    width: 100%;
}
/* animation */

.hero .logo,
.hero .content .div-text h1,
.hero .content .div-text h4,
.hero .content .div-text .btn{
    position: relative;
    top: 50px;
    animation: slide-top .5s linear forwards;
    opacity: 0;
}
.hero .logo{
    animation-delay: 0.2s;
}
.hero .content .div-text h1{
    animation-delay: 0.5s;
}

.hero .content .div-text h1 .image{
    animation-delay: 0.9;
}
.hero .content .div-text h4{
    animation-delay: 1.2s;
}
.hero .content .div-text .btn{
    animation-delay: 1.8s;
}
@keyframes slide-top{
    0%{
        top: 50px;
        opacity: 0;
    }
    100%{
        top: 0;
        opacity: 1;
    }
}

.hero .content .div-text p{
    position: relative;
    left: 100px;
    animation: slide-right .5s linear forwards;
    animation-delay: 1.3s;
    opacity: 0;
}
@keyframes slide-right{
    0%{
        left: 100px;
        opacity: 0;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}

.hero .content .div-img img{
    opacity: 0;
    transform: scale(0.8);
    animation: fade-img .5s linear forwards;
    animation-delay: 2.1s;
}
@keyframes fade-img{
    0%{
        opacity: 0;
        transform: scale(0.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}